<!DOCTYPE html>
<html lang="en" ng-app="dot">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>点点点</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="common/common.css">
    <link rel="stylesheet" type="text/css" href="common/index.css">
    <!--lib js -->
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="service/defined-module.js"></script>
    <script type="text/javascript" src="service/service.js"></script>
    <script type="text/javascript" src="service/request.js"></script>
    <!-- js -->
    <script type="text/javascript" src="common/common.js"></script>
    <script type="text/javascript" src="mainCtrl.js"></script>
</head>

<body ng-controller="mainCtrl">
    <section class="body">
        <div class="list">
            <p class="title">我是</p>
            <div class="main">
                <div ng-repeat="u in D.user" class="c" ng-click="select(u,'user')">
                    <span>{{u.Name}}</span>
                </div>
                <div ng-repeat="u in D.user" class="c">
                    <span>{{u.Name}}</span>
                </div>
                <div ng-repeat="u in D.user" class="c">
                    <span>{{u.Name}}</span>
                </div>
                <div ng-repeat="u in D.user" class="c">
                    <span>{{u.Name}}</span>
                </div>
                <div ng-repeat="u in D.user" class="c">
                    <span>{{u.Name}}</span>
                </div>
            </div>
        </div>
        <div class="list">
            <p class="title">一直供应</p>
            <div class="main">
                <div ng-repeat="md in D.menuDefault" ng-if="md.Type==0" class="c" ng-click="select(md,'menu')">
                    <span>{{md.Name}} </span>
                    <span> {{md.Price}}元</span>
                </div>
                <div class="c" ng-show="!D.menuDefault.length">
                    无
                </div>
            </div>
        </div>
        <div class="list">
            <p class="title">本月特供<span>（{{month}}月）</span></p>
            <div class="main">
                <div ng-repeat="mm in D.menuMonth" ng-if="mm.Type==month" class="c" ng-click="select(mm,'menu')">
                    <span>{{mm.Name}} </span>
                    <span> {{mm.Price}}元</span>
                </div>
                <div class="c" ng-show="!D.menuMonth.length">
                    无
                </div>
            </div>
        </div>
        <div class="list">
            <p class="title">加料</p>
            <div class="main">
                <div ng-repeat="ml in D.menuLitle" ng-if="ml.Type<0" class="c" ng-click="select(ml,'menu')">
                    <span>{{ml.Name}} </span>
                    <span> {{ml.Price}}元</span>
                </div>
                <div class="c" ng-show="!D.menuLitle.length">
                    无
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="count-list">
            <section>姓名：<span>{{myMenu.name}}</span> </section>
            <section>
                <div ng-repeat="m in myMenu.menuList track by $index">{{m.Name}} ￥{{m.Price|number:2}}</div>
            </section>
            <section>总价<span ng-style="myMenu.priceColor"> ￥{{myMenu.price}}</span> </section>
            <div class="clear"></div>
        </div>
    </section>
</body>

</html>
